/*Its a simplified version of Dracula*/
:root {
  --background: #282a36;
  --gray: #44475a;
  --white: #f8f8f2;
  --dark-white: #f8f8f2ef;
  --dark-blue: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: decimal;
}

a {
  color: dodgerblue;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a:hover {
  text-decoration-color: dodgerblue;
}

a:active {
  color: rgb(29, 78, 216);
  text-decoration-color: rgb(29, 78, 216);
  transition: all 0s ease-in;
}

a.no-underline {
  text-decoration: none;
}

summary h1,
summary div {
  display: inline;
}

.chord {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.top-toolbar {
  box-shadow: 0 20px 5px rgb(255 255 255 / 0.5);
}

@media print {
  .no-print {
    display: none;
  }
}

#headlessui-portal-root div div div {
  visibility: hidden;
}

#headlessui-portal-root div div div[id^="headlessui-dialog"] div {
  visibility: visible;
}

#headlessui-portal-root div div div div[id^="headlessui-dialog-panel"] {
  visibility: visible;
}

#headlessui-portal-root div div div div[id^="headlessui-dialog-panel"] * {
  visibility: visible;
}
