/*Its a simplified version of Dracula*/
:root {
  --background: #282a36;
  --grey: #44475a;
  --white: #f8f8f2;
  --dark-white: #f8f8f2ef;
  --dark-blue: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: decimal;
}

a {
  color: dodgerblue;
  transition: all 0.1s ease-in;
  text-decoration: underline;
  text-decoration-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a.no-underline {
  text-decoration: none;
}

/* .tab {
  font-size: 2vw;
} */

/* .tab {
  container-type: inline-size;
} */
/* .tab pre {
  font-size: 1rem;
} */

summary h1,
summary h2 {
  display: inline;
}

.loading-spinner {
  border: 0.5rem solid white; /* Light grey */
  border-top: 0.5rem solid #ccc; /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chord {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}
