* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: decimal;
}

a {
  color: dodgerblue;
  transition: all 0.1s ease-in;
  text-decoration: underline;
  text-decoration-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a.no-underline {
  text-decoration: none;
}

/* .tab {
  font-size: 2vw;
} */

/* .tab {
  container-type: inline-size;
} */
/* .tab pre {
  font-size: 1rem;
} */

summary h1 {
  display: inline;
}

.loading-spinner {
  border: 0.5rem solid white; /* Light grey */
  border-top: 0.5rem solid #ccc; /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
